<a href="<%= offer.clickUrl || offer.link %>" target="_blank" class="offer-card-wrapper" data-code="<%= offer.code %>"
    data-is-code="<%= offer.isPromoCode %>" data-discount="<%= offer.discountValue || 0 %>"
    data-updated="<%= offer.updatedAtTime || 0 %>">
    <article class="fresh-offer-card">
        <div class="offer-icon-wrapper">
            <div class="offer-brand-logo">
                <% if (offer.brandLogo) { %>
                    <img src="<%= offer.brandLogo %>" alt="<%= offer.advertiser %>" loading="lazy">
                    <% } else { %>
                        <div class="offer-icon <%= offer.isPromoCode ? 'is-code' : 'is-deal' %>">
                            <% if (offer.isPromoCode) { %>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path
                                        d="M20.91 8.84 8.56 2.23a1.93 1.93 0 0 0-1.81 0L3.1 4.13a2.12 2.12 0 0 0-.05 3.69l12.22 6.73a1.47 1.47 0 0 0 1.39 0l3.7-2.04a2.12 2.12 0 0 0 .55-3.67z" />
                                    <path d="m3 13 13.5 7.7a2 2 0 0 0 1.8 0L21 19" />
                                    <path d="M16 11V7" />
                                    <path d="M9 13v4" />
                                </svg>
                                <% } else { %>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path d="m15 5 1.5 1.5L18 5" />
                                        <path d="m11 9-2 2 2 2 2-2-2-2Z" />
                                        <path d="M13 3.8a2 2 0 1 0-2 0V9l2 2-2 2v5.2a2 2 0 1 0 2 0V13l-2-2 2-2V3.8Z" />
                                    </svg>
                                    <% } %>
                        </div>
                        <% } %>
            </div>
        </div>
        <div class="offer-content">
            <div class="offer-brand">
                <%= offer.advertiser || 'Brand Deal' %>
            </div>
            <h3 class="offer-title">
                <%= offer.description %>
            </h3>
            <div class="offer-meta">
                <span class="offer-expiry">Expires: <%= offer.expiresAt %></span>
            </div>
            <% if (offer.isPromoCode && offer.code && offer.code !=='N/A' ) { %>
                <div class="offer-promo-display is-code">
                    <span class="promo-code-box">
                        <%= offer.code %>
                    </span>
                    <span class="promo-copy-hint">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-copy">
                            <rect width="14" height="14" x="8" y="8" rx="2" ry="2" />
                            <path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2" />
                        </svg>
                        Copy/Redeem
                    </span>
                </div>
                <% } else { %>
                    <div class="offer-promo-display is-deal">
                        <span class="promo-redeem-btn">
                            Redeem
                        </span>
                    </div>
                    <% } %>
        </div>
    </article>
</a>